{% extends "index.html" %}
{% load static %}


{% block body %}

<div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-12">
        <img src="{% static 'images/secure.png'  %}" style="hight:500px;width:500px" alt="">
    </div>
    <div class="col-lg-6 col-12 p-4">
        <h1 class="main-headline fw-bolder text-primary-emphasis">Secure Your password Using password Manger App</h1>
        <h5 class="fw-semibold sub-heading">Manage your all password from one place. Secure, fast and usefull.
        </h5>
        <div class="d-flex mt-3">
            <a href="/register/" class="btn btn-primary py-2 px-3">Start Now</a>
        </div>
    </div>

</div>
{% endblock %}